In [2]:
import pandas as pd 
import csv 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [9]:
insurance_df = pd.read_csv("../insurance.csv")
insurance_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
insurance_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [14]:
region = insurance_df.groupby("region")
region.count

In [16]:
region["charges"].sum().sort_values(ascending=False)
region

region
southeast    5.363690e+06
northeast    4.343669e+06
northwest    4.035712e+06
southwest    4.012755e+06
Name: charges, dtype: float64

In [18]:
sex = insurance_df.groupby("sex")
sex.count

In [20]:
sex["charges"].sum().sort_values(ascending=False)
sex

sex
male      9.434764e+06
female    8.321061e+06
Name: charges, dtype: float64

In [28]:
bar = insurance_df[["sex", "bmi", "charges"]]
bar

         sex     bmi      charges
0     female  27.900  16884.92400
1       male  33.770   1725.55230
2       male  33.000   4449.46200
3       male  22.705  21984.47061
4       male  28.880   3866.85520
5     female  25.740   3756.62160
6     female  33.440   8240.58960
7     female  27.740   7281.50560
8       male  29.830   6406.41070
9     female  25.840  28923.13692
10      male  26.220   2721.32080
11    female  26.290  27808.72510
12      male  34.400   1826.84300
13    female  39.820  11090.71780
14      male  42.130  39611.75770
15      male  24.600   1837.23700
16    female  30.780  10797.33620
17      male  23.845   2395.17155
18      male  40.300  10602.38500
19      male  35.300  36837.46700
20    female  36.005  13228.84695
21    female  32.400   4149.73600
22      male  34.100   1137.01100
23    female  31.920  37701.87680
24      male  28.025   6203.90175
25    female  27.720  14001.13380
26    female  23.085  14451.83515
27    female  32.775  12268.63225
28      male  17.385   2775.19215
29      male  36.300  38711.00000
...      ...     ...          ...
1308  female  30.200  33900.65300
1309    male  32.200   6875.96100
1310    male  26.315   6940.90985
1311  female  26.695   4571.41305
1312    male  42.900   4536.25900
1313  female  34.700  36397.57600
1314  female  23.655  18765.87545
1315    male  28.310  11272.33139
1316  female  20.600   1731.67700
1317    male  53.130   1163.46270
1318    male  39.710  19496.71917
1319  female  26.315   7201.70085
1320    male  31.065   5425.02335
1321    male  26.695  28101.33305
1322    male  38.830  12981.34570
1323  female  40.370  43896.37630
1324    male  25.935   4239.89265
1325    male  33.535  13143.33665
1326  female  32.870   7050.02130
1327    male  30.030   9377.90470
1328  female  24.225  22395.74424
1329    male  38.600  10325.20600
1330  female  25.740  12629.16560
1331  female  33.400  10795.93733
1332  female  44.700  11411.68500
1333    male  30.970  10600.54830
1334  female  31.920   2205.98080
1335  female  36.850   1629.83350
1336  female  25.800   2007.94500
1337  female  29.070  29141.36030

[1338 rows x 3 columns]

In [23]:
insurance_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010